body {
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  background-color: #000;
  padding: 50px 0px 0px 0px;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

#sidebar, #sidebar2 {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.sidebarSection {
  border: solid 1px #808080;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  background-color: #fff;
  color: #3b3939;
  cursor: default;
  font-weight: 600;
  padding: 0px;
  text-align: left;
}

.sidebarBox {
  padding: 0px;
  margin: 0px;
}

  .sidebarBox ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-weight: 400;
  }

  .sidebarBox ul li a {
    color: #000;
    font-weight: 400;
    text-indent: 20px;
  }

  .sidebarBox ul li:hover, .sidebarBox ul li a:hover, .li-active-link, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none !important;
    background-color: #e9e9e9 !important;
  }

  .head-active-link{
    color: #d2caff !important;
  }

  #homeLink:link, #homeLink:active, #homeLink:visited, #homeLink:focus, #homeLink:hover{
    color: #eee;
  }
  
 .userPic {
  height: 30px;
  border-radius: 50%;
  border: solid 2px #fff;
}

.userPic2 {
  height: 50px;
  border-radius: 50%;
  border: solid 2px #fff;
}

.profilePrevBox {
  border: solid 1px #808080;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  color: #000;
  cursor: default;
  font-weight: 300;
  padding: 0px;
  text-align: center;
}

  .profilePrevBox ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .profilePrevBox ul li {
    border-top: solid 1px #eee;
    padding: 5px;
  }

hr.thin {
  padding: 1px;
  margin: 0px;
}

.dropdown {
  font-size: 14px;
  padding-left: 8px;
  color: #eee;
  text-align: center;
}

/* Open Bootstrap Navbar Dropdown Menu, on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

[type='search'] {
  -webkit-appearance: searchfield;
  width: 450px;
  border: none;
  padding: 5px 3px 5px 3px;
  border-radius: 3px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  [type='search'] {
    width: 170px;
  }

  #trTagline {
    display: none;
    margin: 0px;
  }

  #sidebar {
    display: none;
  }
}

#tblLogo td {
  vertical-align: top;
}

.navbar-nav li {
  margin: 5px !important;
}

.head-link {
  text-align: center;
  display: inline-block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
}

.msgBox {
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.msgTextBox, .msgTextBox:focus {
  min-height: 50px;
  width: 100%;
  outline: none !important;
  border: none;
  font-size: 16px;
}

.tblMsgBox td {
  vertical-align: top;
  padding: 10px;
}

#msgActionsBox span {
  margin: 1px;
}

.pageTitle {
  padding: 0px;
  margin: 10px;
  font-size: 18px;
  background-color: #d2caff;
}

.tagline {
  text-align: center;
  background-color: #fbfbfb;
  color: #494949;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}

.editProfile {
  min-height: 30px;
  background-color: #000;
  opacity: .7;
  padding: 5px 7px 5px 7px;
  float: right;
}

  .editProfile a, .editProfile a:hover {
    color: #fff;
  }
