li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
    padding: 5px;
    margin: 0px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;*/
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 250px;
        /*width: calc(15% - 20px);*/
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
        margin: 0px;
    }
    .navbar li {
      float: none;
      font-size: 16px;
      margin: 0px;
      padding: 0px 0px 0px 5px;
      border-radius: 0px;
    }
    .navbar li a {
        padding: 5px;
        border-radius: 0px;
        margin: 0px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.loneGlyph {
  font-size: 20px;
  color: #808080;
}

.loneGlyph:hover {
  font-size: 20px;
  color: #fff;
}
