<div id="sidebar2" style="padding:0px;margin:0px;">
  <div class="sidebarSection">
    <span class="glyphicon glyphicon-flash"></span> FUN &amp; GAMES
    <div class="sidebarBox">
      <ul>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/games"]'><span class="glyphicon glyphicon-knight"></span> Play Games</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/radio"]'><span class="glyphicon glyphicon-music"></span> Listen to Radio</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/videos"]'><span class="glyphicon glyphicon-film"></span> Search Videos</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/photos"]'><span class="glyphicon glyphicon-camera"></span> Search Photos</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/events"]'><span class="glyphicon glyphicon-glass"></span> Find Events</a></li>
      </ul>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
