
<div class="msgBox">
  <table id="tblMsgBox" style="width:100%;">
    <tr>
      <td style="width:1%;"><img class="userPic2" src="../assets/user.jpg" /></td>
      <td style="width:99%;"><textarea class="msgTextBox" placeholder="What's up? Share the latest with your friends or the public..."></textarea></td>
    </tr>
    <tr>
      <td colspan="2" style="padding:10px;">
        <div id="msgActionsBox">
          <span class="btn btn-sm btn-info"><span class="glyphicon glyphicon-camera"></span> Photo/Video</span>
          <span class="btn btn-sm btn-info"><span class="glyphicon glyphicon-user"></span> Tag Friends</span>
          <span class="btn btn-sm btn-info"><span class="glyphicon glyphicon-camera"></span> Feeling/Activity</span>
          <span class="btn btn-sm btn-info">...</span>
          <span class="btn btn-sm btn-primary pull-right">POST</span>
        </div>
        
      </td>
    </tr>
  </table>
</div>
