<div id="sidebar" style="padding:0px;margin:0px;">
  <div class="profilePrevBox text-center">
    <div style="background-image: url(/assets/back2.jpg);background-position: center;background-size: cover;height:150px;"></div>
    <h3 class="thin">BluDox</h3>
    <h4>( Gilbert Sauceda )<br />
        Austin, Tx USA
    </h4>
    <ul>
      <li class="text-center">I like Math, Physics, Computers, Robots, Cyberpunk, Hiking, Fishing, Camping, Crystals, Gargoyles</li>
      <li>Fullstack Web Developer</li>
      <li>Android, iOS, Windows Phone Mobile Developer</li>
      <li>MVC, Web API, REST API Developer</li>
    </ul>
  </div>
  <div class="sidebarSection">
    <span class="glyphicon glyphicon-flash"></span> FUN &amp; GAMES
    <div class="sidebarBox">
      <ul>
        <li><a [routerLink]='["/games"]'><span class="glyphicon glyphicon-knight"></span> Games</a></li>
        <li><a [routerLink]='["/radio"]'><span class="glyphicon glyphicon-music"></span> Radio</a></li>
        <li><a [routerLink]='["/videos"]'><span class="glyphicon glyphicon-film"></span> Videos</a></li>
        <li><a [routerLink]='["/photos"]'><span class="glyphicon glyphicon-camera"></span> Photos</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebarSection">
    <span class="glyphicon glyphicon-picture"></span> SOCIAL CONNECT
    <div id="ddBox1" class="sidebarBox">
      <ul>
        <li><a [routerLink]='["/facebook"]'><span class="glyphicon glyphicon-comment"></span> Facebook</a></li>
        <li><a [routerLink]='["/instagram"]'><span class="glyphicon glyphicon-comment"></span> Instagram</a></li>
        <li><a [routerLink]='["/twitter"]'><span class="glyphicon glyphicon-comment"></span> Twitter</a></li>
        <li><a [routerLink]='["/linkedin"]'><span class="glyphicon glyphicon-comment"></span> LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebarSection">
    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;STORAGE
    <div class="sidebarBox">
      <ul>
        <li><a [routerLink]='["/files"]'><span class="glyphicon glyphicon-duplicate"></span> Files</a></li>
        <li><a [routerLink]='["/links"]'><span class="glyphicon glyphicon-link"></span> Fav Links</a></li>
        <li><a [routerLink]='["/locations"]'><span class="glyphicon glyphicon-map-marker"></span> Fav Locations</a></li>
      </ul>
    </div>
  </div>

</div>
