<div id="sidebar">
  <div class="profilePrevBox text-center">
    <h3>BluDox</h3>
    <h4>
      ( Gilbert Sauceda )<br />
      Austin, Tx USA
    </h4>
    <ul>
      <li class="text-center">I like Math, Physics, Computers, Robots, Cyberpunk, Hiking, Fishing, Camping, Crystals, Gargoyles</li>
      <li>Fullstack Web Developer</li>
      <li>Android, iOS, Windows Phone Mobile Developer</li>
      <li>MVC, Web API, REST API Developer</li>
    </ul>
  </div>
  <div class="boxOutline topMarg10">
    <div class="boxOutlineTitle btn" data-toggle="collapse" data-target="#lstCalendar" aria-expanded="true">
      <span class="glyphicon glyphicon-calendar"></span> CALENDAR <span class="expand_caret fa fa-angle-down pull-right"></span>
    </div>
    <div id="lstCalendar" class="sidebarBox collapse in">
      <div class="container">Calendar go here!</div>
    </div>
  </div>
  <div class="boxOutline topMarg10">
    <div class="boxOutlineTitle btn" data-toggle="collapse" data-target="#lstTasks" aria-expanded="false">
      <span class="glyphicon glyphicon-check"></span> TASKS <span class="expand_caret fa fa-angle-down pull-right"></span>
    </div>
    <div id="lstTasks" class="sidebarBox collapse">
      <div class="container">Tasks go here!</div>
    </div>
  </div>
  <div class="boxOutline topMarg10">
    <div class="boxOutlineTitle"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;STORAGE</div>
    <div class="sidebarBox">
      <ul>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/files"]'><span class="glyphicon glyphicon-duplicate"></span> Files</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/links"]'><span class="glyphicon glyphicon-link"></span> Fav Links</a></li>
        <li [routerLinkActive]='["li-active-link"]'><a [routerLink]='["/locations"]'><span class="glyphicon glyphicon-map-marker"></span> Fav Locations</a></li>
      </ul>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
